@charset "UTF-8";
/* CSS DOCUMENT */
/* UNIVERSAL STYLES */

* {
    box-sizing: border-box;
}
html {
   font-size: 16px;
   font-family: 'Montserrat', 'Helvetica', sans-serif;
   background-color: white;
}

body {
    line-height: 1.4;
}

.main-container  {
    display: flex;
    max-width: 100%;
}

/* NAVIGATION */

nav {
    background-color: rgba(230, 132, 3, 0.5);
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .logo {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    height: 2rem;
}

.light {
    color: rgba(100, 98, 98, 0.692);
    font-weight: 400;
}

.dark {
    color: rgb(75, 75, 75);
    font-weight: 700;
}

ul {
    margin-right: 1.5rem;
}

ul li {
    display: inline;
    padding-right: 1rem;
}

/* SECTION 1 */

.section-1 {
    background-color: rgba(168, 163, 163, 0.5);
}
.banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
}

.banner img {
    width: 60%;
    margin: 2rem 1.5rem;
    padding-right: 1.5rem;
}


/* SECTION 2 */
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-banner img {
    width: 60%;
    margin: 2rem 1.5rem;
    padding-right: 2rem;
}

.scnd-bnr-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
    width: 60%;
    padding-right: 10rem;
}

.scnd-bnr-text p {
    margin: 1.5rem 0;
}

.scnd-bnr-text span {
    margin-bottom: 2rem;
}

/* SECTION 2 SIDE INFO */

