@charset "UTF-8";
/* CSS DOCUMENT */
/* UNIVERSAL STYLES */

* {
    box-sizing: border-box;
}
html {
   font-size: 16px;
   font-family: 'Montserrat', 'Helvetica', sans-serif;
   background-color: white;
}

body {
    line-height: 1.4;
}

#main-container {
    display: flex;
    max-width: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.courses .learning-image {
    height: auto;
    width: 100%;
}

.indiv-course {
    border: solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 30%;
    background-color: rgba(168, 163, 163, 0.863);
    margin-right: 2rem;
    margin-top: 2rem;
}

/* NAVIGATION */

nav {
    background-color: rgba(230, 132, 3, 0.5);
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .logo {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    height: 2rem;
}

.light {
    color: rgba(100, 98, 98, 0.692);
    font-weight: 400;
}

.dark {
    color: rgb(75, 75, 75);
    font-weight: 700;
}

ul {
    margin-right: 1.5rem;
}

ul li {
    display: inline;
    padding-right: 1rem;
}

li:hover {
    color: white;
}

/* SECTION 1 */

.section-1 {
    background-color: rgba(168, 163, 163, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
 
.banner img {
    width: 60%;
    margin: 2rem 1.5rem;
}

#banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 3rem;
    width: 50%;
}

.content {
    margin-left: 1.5rem;

}

.btn-start-here {
    background-color: black;
    background-size: 10rem;
    color: white;
    text-align: center;
    margin: .5rem 5rem .5rem 0;
}

h4:active {
    background-color: rgba(230, 132, 3, 0.5);
}

/* SECTION 2 */

.section-2 {
    display: flex;
    flex-direction: column wrap;
    position: relative;
}

.second-banner {
    width: 60%;
}

.second-banner img {
    margin: 2rem 1.5rem;
    width: 60%;
}

.second-banner h1 {
    font-size: 1.7rem;
}

.second-banner 
h1, 
p, .author{
    margin-left: 1.5rem;
}

.second-banner p {
    margin: 1.5rem;
}

.author {
    font-weight: 500;
}

/* SECTION 2 SIDE INFO */

#side-info {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.side {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 14rem;
    bottom: 10rem;
}

#side-info img {
    height: auto;
    width: 35%;
    margin: 1rem;
}

.side-text-1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.side-text-2 {
    margin-top: .5rem;
}

.side-text-3 {
    margin-top: .5rem;
    font-weight: 500;
    color: rgba(0, 153, 255, 0.5);
}

.orientation {
    background-color:  rgba(230, 132, 3, 0.5);
    border-left: solid 6px rgba(168, 163, 163, 0.5);
    border-bottom: solid 6px rgba(168, 163, 163, 0.5);
    height: 22%;
}

.campus {
    height: 22%;
}

.lecture {
    background-color: rgba(168, 163, 163, 0.5);
    height: 22%;
}

/* SECTION 3 */

.section-3 {
    background-color: rgba(230, 132, 3, 0.5);
    display: flex;
    flex-flow: row;
    position: relative;
    bottom: 15rem;
}

.learning {
    margin: 2rem 4.5rem;
}

.learning .start {
    position: relative;
    left: 30rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.courses {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 4.5rem;
}

.crse-header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1rem;
}

.crse-link {
    margin: .5rem;
}

.crse-link, .crse-description {
    margin-left: 1rem;
}

.crse-description {
    margin-bottom: 1.5rem;
}